<!DOCTYPE HTML>
<html class="no-js">
<head>
    <!-- Basic Page Needs
    Good for you! You are a curious one, we encourage curiosity.
    See something awry? Want to maintain this site? Let's talk!
  ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>SecDSM</title>
    <meta name="description" content="SecDSM is a monthly network and information security meetup located in Des Moines, IA.">
    <meta name="keywords" content="cyber, cybersecurity, network security, des moines,iowa, secdsm, hacking, local, computer, security, network, information security, meetup, group, citysec">
    <meta name="author" content="SecDSM">
    <meta property="og:image" content="https://secdsm.org/images/og-logo.png">
    <meta property="og:image:width" content="300"/>
    <meta property="og:image:height" content="300"/>
    <meta property="og:site_name" content="SecDSM">
    <meta property="og:url" content="https://secdsm.org">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="SecDSM">
    <meta property="og:description" content="SecDSM is a monthly network and information security meetup located in Des Moines, IA.">
    <meta name="twitter:title" content="SecDSM"/>
    <meta name="twitter:description" content="SecDSM is a monthly network and information security meetup located in Des Moines, IA."/>
    <meta name="twitter:image" content="https://secdsm.org/images/og-logo.png"/>
    <meta name="twitter:creator" content="@secdsm"/>
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- CSS
  ================================================== -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen"/><![endif]-->
    <!-- Color Style -->
    <link href="/colors/color1.css" rel="stylesheet" type="text/css">
    <!-- SCRIPTS
  ================================================== -->
    <script src="/js/modernizr.js"></script><!-- Modernizr -->
    <script src="/js/jquery-3.1.1.min.js"></script> <!-- Jquery Library Call -->
    <script src="/js/helper-plugins.js"></script> <!-- Helper Plugins -->
    <script src="/js/bootstrap.js"></script> <!-- UI -->
    <script src="/js/waypoints.js"></script> <!-- UI -->
    <script src="/js/init.js"></script> <!-- All Scripts -->
</head>
<body class="home">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser.
    <a href="https://browsehappy.com/">Upgrade your browser today</a> or
    <a href="https://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.
</p>
<![endif]-->
<div class="body">
    <!-- Start Site Header -->
    <header class="site-header">
        <div class="container-spec">
            <div class="site-logo">
                <h1 class="hidden">
                    <img src="/images/secdsm-huge.png" alt="Logo">
                </h1>
            </div>
            <!-- Main Navigation -->
            <nav class="main-navigation">
                <ul class="sf-menu">
                    <li><a href="/#home">Home</a></li>
                    <li><a href="/#schedule">Schedule</a></li>
                    {% if monthly_event_count > 0 or cons.cons.size > 0 %}
                    <li><a href="/#events">Events</a></li>
                    {% endif %}
                    <li><a href="/#venue">Venue</a></li>
                    <!-- <li><a href="/archives/">Archives</a></li> -->
                    <li><a href="https://discord.com/invite/aqcDKzVYw3">Discord</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/sponsor/">Sponsor</a></li>
                    <li><a href="https://opencollective.com/secdsm/donate">Donations</a></li>
                </ul>
            </nav>
            <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
        </div>
    </header>
    <!-- End Site Header -->
    <!-- Showcase -->
    <div class="showcase wheighter">
        <!-- Start Hero Slider -->
        <!--                <div class="hero-slider flexslider wheighter" data-autoplay="yes" data-pagination="no" data-arrows="no" data-style="fade" data-speed="5000" data-pause="yes"> -->
        <div class="hero-slider">
            <ul class="slides">
                <li class=" parallax parallax1 wheighter" style="background-color: #000000 "></li>
                <!--                            <li class=" parallax parallax1 wheighter" style="background-image:url(http://placehold.it/1200x800&amp;text=IMAGE+PLACEHOLDER)"></li> -->
                <!--                            <li class=" parallax parallax2 wheighter" style="background-image:url(http://placehold.it/1200x800&amp;text=IMAGE+PLACEHOLDER)"></li> -->
            </ul>
        </div>
        <!--                </div> -->
    </div>
    <!-- End Hero Slider -->
    <div class="event-hero-info">
        <div class="container">
            <div class="event-info">
                <span class="fl" data-appear-animation="fadeInDown" data-appear-animation-delay="200">Come Learn</span>
                <!--                    <span class="sl" data-appear-animation="zoomIn" data-appear-animation-delay="300">Hacking</span> -->
                <span class="sl" data-appear-animation="zoomIn" data-appear-animation-delay="300">Network and Information Security</span>
                <!--                        <span class="sl" data-appear-animation="zoomIn" data-appear-animation-delay="300">SecDSM + owaspDSM</span> -->
                <span class="tl" data-appear-animation="fadeInDown" data-appear-animation-delay="500">at Foundry Distilling Company</span>
                <!-- <span class="tl" data-appear-animation="fadeInDown" data-appear-animation-delay="500">Virtually Hosted Webinar Style.</span> -->
                <span class="tl" data-appear-animation="fadeInDown" data-appear-animation-delay="500">in Des Moines IA</span>
                {% for schedule in schedules %}
                {% if forloop.first %}
                <span class="event-date" data-appear-animation="fadeInUp" data-appear-animation-delay="700">{{schedule.date}} - 6PM</span>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Start Body Content -->
    <div class="main" role="main">
        <div id="content" class="content full">
            <!-- Home Section Content -->
            <section class="onepage-section" id="home">
                <div class="container">
                    <p class="lead">
                        <strong>SecDSM,</strong> a monthly meetup providing the opportunity to network with other InfoSec pros and listen to short tech talks presented by your fellow members (or give a presentation yourself!) while enjoying some beer/drinks/food. No sales pitches. The idea is to provide you actionable knowledge for you to take back to your $dayjob while building a top tier InfoSec community in the Des Moines area. If you have the desire to learn about real world InfoSec scenarios - get out of your comfort zone - and join us in a relaxed vendor neutral environment. No registration is required.
                    </p>
                </div>
            </section>
            <!-- Schedule Section Content -->
            <div class="spacer-30"></div>
            <section class="onepage-section lgray-bg" id="schedule">
                <div class="container">
                    <header class="onepage-section-headers text-align-center">
                        <h3 class="page-title">Schedule</h3>
                        <h2 class="page-stitle">We meet monthly, on the 1st Thursday starting at 6pm at Foundry Distilling Company in West Des Moines.</h2>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="submit_accordion-heading togglize">
                                    <a class="submit_accordion-toggle" data-toggle="collapse" href="/index.html#submit_a_talk">Submit a Talk!</a>
                                </div>
                                <div id="submit_a_talk" class="tab-pane accordion-body collapse">
                                    <form id="submit_a_talk-form" class="submit_a_talk-form" name="submit_a_talk-form" action="/api/submit_a_talk.php">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="email" name="submit_a_talk_mail" id="submit_a_talk_mail" class="form-control input-lg" placeholder="Email*">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" name="submit_a_talk_name" id="submit_a_talk_name" class="form-control input-lg" placeholder="Speaker desired name*">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" name="submit_a_talk_twitter" id="submit_a_talk_twitter" class="form-control input-lg" placeholder="Twitter Handle">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <textarea rows="4" name="submit_a_talk_bio" id="submit_a_talk_bio" class="form-control input-lg" placeholder="Speaker Bio - Optional"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <input type="text" name="submit_a_talk_title" id="submit_a_talk_title" class="form-control input-lg" placeholder="Talk Title*">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input type="number" name="submit_a_talk_duration" id="submit_a_talk_duration" class="form-control input-lg" placeholder="Duration in minutes*">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select class="form-control input-lg" name="submit_a_talk_month" id="submit_a_talk_month" required>
                                                            <option selected disabled>Month</option>
                                                            <option>Jan</option>
                                                            <option>Feb</option>
                                                            <option>Mar</option>
                                                            <option>Apr</option>
                                                            <option>May</option>
                                                            <option>Jun</option>
                                                            <option>Jul</option>
                                                            <option>Aug</option>
                                                            <option>Sep</option>
                                                            <option>Oct</option>
                                                            <option>Nov</option>
                                                            <option>Dec</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <textarea rows="4" name="submit_a_talk_abstract" id="submit_a_talk_abstract" class="form-control input-lg" placeholder="Talk Abstract*"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <textarea rows="4" name="submit_a_talk_comment" id="submit_a_talk_comment" class="form-control input-lg" placeholder="Comments for SecDSM staff"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <textarea rows="4" name="submit_a_talk_shirt" id="submit_a_talk_shirt" class="form-control input-lg" placeholder="First time speakers get a free shirt -- Pick out any item less than $20 on the &quot;Merch&quot; page and include a link here to it here."></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        Permission to record
                                                        <input type="checkbox" name="submit_a_talk_record" id="submit_a_talk_record" class="input-sm form-control" checked>
                                                    </div>
                                                    <div class="col-md-4">
                                                        Permission to stream
                                                        <input type="checkbox" name="submit_a_talk_stream" id="submit_a_talk_stream" class="input-sm form-control" checked>
                                                    </div>
                                                    <div class="col-md-4">
                                                        Permission to publish recording
                                                        <input type="checkbox" name="submit_a_talk_public" id="submit_a_talk_public" class="input-sm form-control" checked>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8 padding-t20">
                                                        <input type="submit" id="submit_a_talk_submit" name="submit_a_talk_submit" class="btn btn-primary btn-lg btn-block" style="height: 78px;" value="Submit It!">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div id="submit_talk_recaptcha" class="g-recaptcha"></div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="spacer-30"></div>
                                                    <div id="submit_a_talk-message"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tabs schedule-tabs">
                                <ul class="nav nav-tabs">
                                    {% for schedule in schedules limit:4 %}
                                    {% if forloop.first %}
                                    <li class="active">
                                        <a data-toggle="tab" href="#sampletab{{forloop.index0}}">{{schedule.date}}</a>
                                    </li>
                                    {% else %}
                                    <li><a data-toggle="tab" href="#sampletab{{forloop.index0}}">{{schedule.date}} </a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                                <div class="tab-content lgray-bg">
                                    {% for schedule in schedules limit:4 %}
                                    {% if forloop.first %}
                                    <div id="sampletab{{forloop.index0}}" class="tab-pane active">
                                        {% else %}
                                        <div id="sampletab{{forloop.index0}}" class="tab-pane">
                                            {% endif %}
                                            {% if schedule.alert %}
                                            <div class="alert alert-{{ schedule.alert.type }}">
                                                {{schedule.alert.message}}
                                            </div>
                                            {% endif %}
                                            {% for introtalk in schedule.introtalks %}
                                            <div class="event-task">
                                                <h5>
                                                    <span class="accent-color-secondary">{% if introtalk.speaker.name %} {{introtalk.speaker.name}} - {% endif %}{{introtalk.title}}</span>
                                                    <span class="label label-secondary">{% if introtalk.time %}{{introtalk.time}}{% endif %}</span>
                                                </h5>
                                                {% if introtalk.alert %}
                                                <div class="alert alert-{{ introtalk.alert.type }}">
                                                    {{introtalk.alert.message}}
                                                </div>
                                                {% endif %}
                                                <p>{{introtalk.description | escape | newline_to_br }}</p>
                                            </div>
                                            {% endfor %}
                                            {% if schedule.tooltalks %}
                                            {% for tooltalk in schedule.tooltalks %}
                                            <div class="event-task">
                                                <h5>
                                                    <span class="accent-color-secondary">{{tooltalk.speaker.name}} - Tool Talk </span>{{tooltalk.title}}<span class="label label-secondary">{% if tooltalk.time %}{{tooltalk.time}}{% endif %}</span>
                                                </h5>
                                                {% if tooltalk.alert %}
                                                <div class="alert alert-{{ tooltalk.alert.type }}">
                                                    {{tooltalk.alert.message}}
                                                </div>
                                                {% endif %}
                                                <p>{{tooltalk.description | escape | newline_to_br }}</p>
                                                {% if tooltalk.speaker.bio %}
                                                <p>{{tooltalk.speaker.bio | escape | newline_to_br}}</p>
                                                {% endif %}
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                            {% for feature in schedule.features %}
                                            <div class="event-task">
                                                <h5>
                                                    <span class="accent-color-secondary">{{feature.speaker.name}} </span>{{feature.title}}<span class="label label-secondary">{% if feature.time %}{{feature.time}}{% endif %}</span>
                                                </h5>
                                                {% if feature.alert %}
                                                <div class="alert alert-{{ feature.alert.type }}">
                                                    {{feature.alert.message}}
                                                </div>
                                                {% endif %}
                                                {% if feature.description %}
                                                <p>{{feature.description | escape | newline_to_br}}</p>
                                                {% endif %}
                                                {% if feature.speaker.bio %}
                                                <hr>
                                                <p>{{feature.speaker.bio | escape | newline_to_br }}</p>
                                                {% endif %}
                                            </div>
                                            {% endfor %}
                                            {% if schedule.subgroups %}
                                            {% for subgroup in schedule.subgroups %}
                                            <div class="event-task">
                                                <h5>
                                                    <span class="accent-color-secondary">{% if subgroup.speaker.name %}{{subgroup.speaker.name}}{% endif %} </span>{{subgroup.title}}<span class="label label-secondary">{% if subgroup.time %}{{subgroup.time}}{% endif %}</span>
                                                </h5>
                                                {% if subgroup.alert %}
                                                <div class="alert alert-{{ subgroup.alert.type }}">
                                                    {{subgroup.alert.message}}
                                                </div>
                                                {% endif %}
                                                {% if subgroup.description %}
                                                <p>{{subgroup.description | escape | newline_to_br}}</p>
                                                {% endif %}
                                                {% if subgroup.speaker.bio %}
                                                <hr>
                                                <p>{{subgroup.speaker.bio | escape | newline_to_br}}</p>
                                                {% endif %}
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                            {% if schedule.sponsors.size > 0 %}
                                            <div class="col-md-12 text-align-center">
                                                <h2 class="lead">Sponsored by</h2>
                                            </div>
                                            {% endif %}
                                            {% for sponsor in schedule.sponsors limit:2 %}
                                            <div class="sponsor text-align-center col-md-{{ 12 | divided_by: schedule.sponsors.size }} ">
                                                {% if sponsor.image and sponsor.url and sponsor.sponsor%}
                                                <a href="{{ sponsor.url }}">
                                                    <h2 class="lead">{{sponsor.sponsor}}</h2>
                                                    <img src="/images/sponsorLogos/{{sponsor.image}}" alt="{{ sponsor.sponsor }}">
                                                </a>
                                                {% elsif sponsor.image and sponsor.sponsor %}
                                                <h2 class="lead">{{sponsor.sponsor}}</h2>
                                                <img src="/images/sponsorLogos/{{sponsor.image}}" alt="{{ sponsor.sponsor }}">
                                                {% elsif sponsor.sponsor and sponsor.url %}
                                                <a href="{{ sponsor.url }}">
                                                    <h2 class="lead">{{sponsor.sponsor}}</h2>
                                                </a>
                                                {% elsif sponsor.image and sponsor.url %}
                                                <a href="{{ sponsor.url }}">
                                                    <img src="/images/sponsorLogos/{{sponsor.image}}">
                                                </a>
                                                {% elsif sponsor.sponsor%}
                                                <h2 class="lead">{{sponsor.sponsor}}</h2>
                                                {% endif %}
                                            </div>
                                            {% endfor %}
                                            <div class="spacer-30"></div>
                                            <div class="col-md-12">
                                                <a href="/sponsor">
                                                    <h5 class="text-align-center">Want to become a sponsor?</h5></a>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--
            <section class="onepage-section" id="shirts">
                <div class="spacer-30"></div>
                <div class="container">
                    <header class="onepage-section-headers text-align-center">
                        <h3 class="page-title"><a href="https://teespring.com/stores/secdsms-store">Merchandise</a></h3>
                        <h2 class="lead">Shirts (and other items) are for sale online.</h2>
                        <a href="https://teespring.com/stores/secdsms-store"><img src="/images/tshirt.png" alt="T-Shirt"></a>
                    </header>
                </div>
            </section>
            -->
            <!-- events Section Content -->
            {% assign monthly_event_count = 0 %}
            {% for month in monthly limit:3 %}
            {% assign monthly_event_count = monthly_event_count | plus: month.events.size %}
            {% endfor %}
            {% if monthly_event_count > 0 or cons.cons.size > 0 %}
            <div class="spacer-30"></div>
            <section class="onepage-section" id="events">
                <div class="container">
                    {% if monthly_event_count > 0 %}
                    <div class="row">
                        <header class="onepage-section-headers text-align-center">
                            <h3 class="page-title">Monthly Events</h3>
                        </header>
                        <div class="col-md-12">
                            <div class="accordion lgray-bg" id="toggleArea">
                                <div class="accordion-group panel">
                                    {% for month in monthly limit:3 %}
                                    {% if month.events.size > 0%}
                                    <div class="accordion-heading togglize">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#collapse{{month.name}}">{{month.name}}<i class="fa fa-plus-circle"></i>
                                            <i class="fa fa-minus-circle"></i> </a></div>
                                    {% if forloop.first == true %}
                                    <div id="collapse{{month.name}}" class="accordion-body collapse in">
                                        {% else %}
                                        <div id="collapse{{month.name}}" class="accordion-body collapse">
                                            {% endif %}
                                            <div class="accordion-inner">
                                                {% for event in month.events %}
                                                {% if event.name != '' %}
                                                <div class="event-task">
                                                    <h5>
                                                        <a href="{{event.url}}" class="accent-color-secondary" target="_blank">{{event.name}}</a><span class="label label-secondary">{{event.time}}</span>
                                                    </h5>
                                                    {{event.description | escape | newline_to_br }}
                                                    {% if event.geolocation and event.geolocation != '' %}
                                                    <div align="center">
                                                        <iframe src="{{event.geolocation}}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </section>
            <section class="onepage-section" id="cons">
                <div class="container">
                    {% if cons.cons.size > 0 %}
                    <header class="onepage-section-headers text-align-center">
                        <h3 class="page-title">Upcoming cons</h3>
                        <h2 class="lead">Some members are anticipating attending the following conferences, reach out on Discord to coordinate travel.</h2>
                        {% if cons.alert %}
                        <div class="alert alert-{{ cons.alert.type }}">
                            {{cons.alert.message}}
                        </div>
                        {% endif %}
                    </header>
                    {% if cons.alert %}
                    {% else %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="accordion lgray-bg" id="toggleArea">
                                <div class="accordion-group panel">
                                    {% for con in cons.cons %}
                                    <div class="accordion-heading togglize">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#collapse{{con.name | remove: ',' | remove: '?' | remove: '*' | remove:" " | remove:"." }}">
                                        <table class="table">
                                            <tr>
                                                <td>{{con.name}}</td>
                                                <td>{{con.date}}</td>
                                                <td>{{con.location}}</td>
                                            </tr>
                                        </table>
                                        <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a></div>
                                    <div id="collapse{{con.name |  remove: ',' | remove: '?' | remove: '*'| remove: "
                                    " | remove: "." }}" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="event-task">
                                            {% if con.link and con.link != '' %}
                                            <h5>
                                                <a href="{{con.link}}" class="accent-color-secondary" target="_blank">{{con.name}}</a>
                                            </h5>
                                            {% else %}
                                            <h5>{{con.name}}</h5>
                                            {% endif %}
                                            {% if con.description and con.description != '' %}
                                            <p>{{con.description}}</p>
                                            {% endif %}
                                            {% if con.cost and con.cost != '' %}
                                            <div class="cost">
                                                <h5>Cost:</h5>
                                                <div class="indent">
                                                    {{con.cost}}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if con.details and con.details != '' %}
                                            {% if con.details.schedule and con.details.schedule != '' %}
                                            <h5>Schedule</h5>
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th>Day</th>
                                                    <th>Date</th>
                                                    <th>Start</th>
                                                    <th>End</th>
                                                </tr>
                                                {% for day in con.details.schedule %}
                                                <tr>
                                                    <td>{{day.day}}</td>
                                                    <td>{{day.date}}</td>
                                                    <td>{{day.start_time}}</td>
                                                    <td>{{day.end_time}}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                            {% endif %}
                                            {% if con.details.travel and con.details.travel != '' %}
                                            <h5>Travel Details</h5>
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th></th>
                                                    <th>Day</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                </tr>
                                                <tr>
                                                    <td>Depart</td>
                                                    <td>{{con.details.travel.depart.day}}</td>
                                                    <td>{{con.details.travel.depart.date}}</td>
                                                    <td>{{con.details.travel.depart.time}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Return</td>
                                                    <td>{{con.details.travel.return.day}}</td>
                                                    <td>{{con.details.travel.return.date}}</td>
                                                    <td>{{con.details.travel.return.time}}</td>
                                                </tr>
                                            </table>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </section>
        </div>

        {% endif %}
        <!-- Venue Section Content -->
        <div class="spacer-30"></div>
        <section class="onepage-section lgray-bg" id="venue">
            <div class="container">
                <header class="onepage-section-headers text-align-center">
                    <h3 class="page-title">Venue</h3>
                    <h2 class="lead">We meet in at Foundry Distilling Company located at 111 S 11th St, Suite 100, West Des Moines, IA 50265.<br>
                    </h2>
                </header>
                <div class="spacer-30"></div>
            </div>
            <div class="venue-view lgray-bg">
                <div id="gmap"></div>
                <div class="quick-venue-info">
                    <div class="quick-venue-info-details">
                        <h3>Foundry Distilling Company</h3>
                        <p>111 S 11th St, Suite 100, West Des Moines, IA 50265-4455</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- Start site footer bottom -->
<footer class="site-footer-bottom gray-bg padding-tb20">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 copyrights-left">
                &copy; 2021 SecDSM. All Rights Reserved.
            </div>
        </div>
        <div class="col-md-6 col-sm-6 copyrights-right">
            <ul class="social-icons pull-right">
                <li><a href="https://twitter.com/secdsm" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://discord.gg/aqcDKzVYw3" target="_blank"><i class="fa fa-discord"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- End site footer -->
</div>
<script src="https://maps.google.com/maps/api/js?"></script> <!-- Google Map -->
<script type="text/javascript">
    var CaptchaCallback = function () {
        widgetId1 = grecaptcha.render('submit_talk_recaptcha', {'sitekey': '6LfdIxoTAAAAADRegAhDzKbT0WKQ4_-EoZJY_9Po'});
    };
    var geocoder = new google.maps.Geocoder();
    var address = "111 S 11th St, Suite 100, West Des Moines, IA 50265-4455";//Add your address here, all on one line.
    var latitude;
    var longitude;
    var color = "#579bd3"; //Set your tint color. Needs to be a hex value.
    function getGeocode() {
        geocoder.geocode({'address': address}, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                latitude = results[0].geometry.location.lat();
                longitude = results[0].geometry.location.lng();
                initGoogleMap();
            }
        });
    }

    function initGoogleMap() {
        var styles = [
            {
                stylers: [
                    {saturation: -100}
                ]
            }
        ];
        var options = {
            mapTypeControlOptions: {
                mapTypeIds: ['Styled']
            },
            center: new google.maps.LatLng(latitude, longitude),
            zoom: 13,
            scrollwheel: false,
            navigationControl: false,
            mapTypeControl: false,
            zoomControl: true,
            disableDefaultUI: true,
            mapTypeId: 'Styled'
        };
        var div = document.getElementById('gmap');
        var map = new google.maps.Map(div, options);
        marker = new google.maps.Marker({
            map: map,
            draggable: false,
            animation: google.maps.Animation.DROP,
            position: new google.maps.LatLng(latitude, longitude)
        });
        var styledMapType = new google.maps.StyledMapType(styles, {name: 'Styled'});
        map.mapTypes.set('Styled', styledMapType);
        var infowindow = new google.maps.InfoWindow({
            content: "<div class='iwContent'>" + address + "</div>"
        });
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });
        bounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(-84.999999, -179.999999),
            new google.maps.LatLng(84.999999, 179.999999)
        );
        rect = new google.maps.Rectangle({
            bounds: bounds,
            fillColor: color,
            fillOpacity: 0.2,
            strokeWeight: 0,
            map: map
        });
    }

    google.maps.event.addDomListener(window, 'load', getGeocode);
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit" async defer></script>
</body>
</html>
